<textarea #textarea [id]="id" class="vt-text-area form-control {{cssClass}}"
[attr.disabled]="enabled !== false ? null : true"
  [readonly]="editable === false || editable === 'false'  ? true : false"
  [style.height]="controlHeight"
  [style.maxWidth]="controlWidth"
  [style.padding]="controlPadding"
  [style.line-height]="lineHeight"
  [ngClass]="{'hidden': visible != true}"
  (focusin)="onFocus($event)"
  (focusout)="onBlur($event)"
  (contextmenu)="handleOnContextMenu($event)"
  [ngStyle]="styles"
  [required]="required"
  [maxLength]="maxLength"
  [(ngModel)]="text"
  [disabled]="disabled"
  (keydown)="handleKeyDown($event)"
  >
</textarea>
