/*we don't need css border, border layout are just being used to place the content*/
/* .border-north {
    border-top: 1px solid;
}
.border-south {
    border-top: 1px solid;
}
.border-east {
    border-right: 1px solid;
}
.border-west {
    border-left: 1px solid;
} */
